[MESSAGES CONTROL]
disable=missing-docstring,
        locally-disabled,
        protected-access,
        duplicate-code

[BASIC]
const-rgx=^[A-Z_][a-zA-Z0-9_]{1,29}$
good-names=gt,lt,db,fn,_,i,n,x,y

[DESIGN]
max-attributes=15
min-public-methods=0
max-public-methods=30
max-locals=30
max-branches=60
max-statements=200
max-args=20
