include LICENSE
include README.md
include lib/*.c
include include/*.h
include test/*.c
include test/*.h
include Makefile
include test.py
include .coveragerc
include .pylintrc
include test_drivers.cfg
include docs/*
